/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Exo 2', sans-serif;
  background: #8f624d;
  background: radial-gradient(circle, #8f624d 39%, #36250b 100%);
  color: #D5E3E6;
}
body .introSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/banner.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .introSection .introContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #D5E3E6;
  margin: 4%;
}
body .introSection .introContainer .mainTitle {
  font-size: 4rem;
  padding: 3%;
  margin: 2%;
}
body .introSection .introContainer .circularImg {
  border-radius: 50%;
  height: 40vh;
  margin: 3%;
  border: 10px solid #60BAC2;
}
body .introSection .introContainer p {
  font-size: 1.5rem;
  padding: 3%;
  margin: 4%;
}
body .missionStmnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .missionStmnt h2 {
  width: 50%;
  border-radius: 30px;
  text-align: center;
  font-size: 4rem;
  padding: 2%;
  margin: 1%;
  color: #60BAC2;
  font-weight: 1000;
}
body .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .socialMedia .smIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .socialMedia .smIcons .icon {
  padding: 5%;
}
body .socialMedia .smIcons .icon .fab,
body .socialMedia .smIcons .icon .fas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8rem;
  font-size: 8rem;
  color: #60BAC2;
}
