/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Exo 2', sans-serif;
  background: #8f624d;
  background: radial-gradient(circle, #8f624d 39%, #36250b 100%);
  color: #D5E3E6;
}
body .introSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/banner.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .introSection .introContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #D5E3E6;
  margin: 4%;
}
body .introSection .introContainer .mainTitle {
  font-size: 5rem;
  text-shadow: #771f04 5px 5px;
  padding: 3%;
  margin: 2%;
}
body .introSection .introContainer .circularImg {
  border-radius: 50%;
  height: 40vh;
  margin: 3%;
  border: 10px solid #60BAC2;
}
body .introSection .introContainer p {
  font-size: 1.5rem;
  padding: 3%;
  margin: 4%;
}
body .upperHalf {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.986), rgba(70, 45, 24, 0.411)), url("/images/mpls.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body .upperHalf .missionStmnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .upperHalf .missionStmnt h2 {
  width: 50%;
  border-radius: 30px;
  text-align: center;
  font-size: 4rem;
  padding: 2%;
  margin: 1%;
  color: #60BAC2;
  font-weight: 1000;
  text-shadow: #1D595A 5px 5px;
}
body .upperHalf .missionStmnt p {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 60%;
  margin: 1%;
  background: #55530094;
  padding: 3%;
  border-radius: 30px;
  text-align: center;
}
body .upperHalf .socialMedia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
@media (max-width: 500px) {
  body .upperHalf .socialMedia {
    flex-direction: column;
  }
}
body .upperHalf .socialMedia .smIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .upperHalf .socialMedia .smIcons .icon {
  padding: 5%;
}
body .upperHalf .socialMedia .smIcons .icon .fab,
body .upperHalf .socialMedia .smIcons .icon .fas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8rem;
  font-size: 8rem;
  color: #60BAC2;
}
body .projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.068)), url("/images/sidewalk.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .projects #projectTitle {
  width: 50%;
  border-radius: 30px;
  text-align: center;
  font-size: 4rem;
  padding: 2%;
  color: #D5E3E6;
  text-shadow: #771f04 5px 5px;
  font-weight: 1000;
}
body .projects .projectThumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  body .projects .projectThumbnail {
    flex-direction: column;
  }
}
body .projects .projectThumbnail .previewContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  body .projects .projectThumbnail .previewContainer {
    flex-direction: column;
  }
}
body .projects .projectThumbnail .previewContainer .thumbnail {
  border-radius: 10px;
  background-color: #60BAC2;
  box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.4);
  margin: 3%;
  width: 44%;
}
@media (max-width: 500px) {
  body .projects .projectThumbnail .previewContainer .thumbnail {
    width: 100%;
  }
}
body .projects .projectThumbnail .previewContainer .thumbnail a {
  display: block;
}
body .projects .projectThumbnail .previewContainer .thumbnail .projectImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 15em;
  width: 100%;
  object-fit: cover;
}
body .projects .projectThumbnail .previewContainer .thumbnail h4 {
  font-size: 1.5rem;
  line-height: 1.5em;
  padding: 3%;
  font-weight: 900;
  color: #D5E3E6;
  text-shadow: #1D595A 1px 2px 6px;
  text-align: center;
}
body #footer {
  padding: 3% 0 3% 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/brick.jpg");
  background-size: cover;
}
body #footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #footer .contact .contactTitle {
  width: 50%;
  border-radius: 30px;
  text-align: center;
  font-size: 4rem;
  padding: 3%;
  color: #D5E3E6;
  text-shadow: #771f04 5px 5px;
  font-weight: 1000;
}
body #footer .contact .contactContainer {
  background-color: #a3a24f79;
  width: 70%;
  padding: 4%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
body #footer .contact .contactContainer p {
  font-size: 1.5rem;
  width: 80%;
  padding: 3%;
  text-shadow: #771f04 2px 2px;
}
body #footer .contact .contactContainer .contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2%;
}
body #footer .contact .contactContainer .contactInfo li {
  font-size: 1.5rem;
  line-height: 2;
  text-shadow: #771f04 2px 2px;
}
body #footer .contact .contactContainer .contactInfo li a {
  text-decoration: none;
  color: #D5E3E6;
}
