
body{ 
    font-family: 'Exo 2', sans-serif;
    // background-color: @espresso;
    background: rgb(143,98,77);
    background: radial-gradient(circle, rgba(143,98,77,1) 39%, rgba(54,37,11,1) 100%);


    color: @sneaker;
    .introSection {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/banner.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        .flex(column, center, center);

        .introContainer {
            justify-content: center;
            .flex(column, center, center);
            text-align: center;
            color: @sneaker;
            margin: 4%;

            .mainTitle{
                font-size: 4rem;
                padding: 3%;
                margin: 2%;
            }

            .circularImg {
                border-radius: 50%;
                height: 40vh;
                margin: 3%;
                border: 10px solid @turquoiselight;
            }

            p{
                font-size: 1.5rem;
                padding: 3%;
                margin: 4%;
            }
        }
        
    }
    .missionStmnt {
        display: flex;
        .flex(column, center, center);

        h2{
            // background: rgb(29,89,90);
            // background: radial-gradient(circle, rgba(29,89,90,1) 34%, rgba(18,48,58,1) 100%);
            width: 50%;
            border-radius: 30px;
            text-align: center;
            font-size: 4rem;
            padding: 2%;
            margin: 1%;
            color: @turquoiselight;
            font-weight: 1000;
        }
    }
    .socialMedia{
        display: flex;
        .flex(row, center, center);

        .smIcons{
            display: flex;
            .flex(row, center, center);
            // margin: 2%;
            

            .icon {
                // margin: 5%;
                padding: 5%;

               .fab, .fas{
                display: flex;
                .flex(row, center, center);
                width: 8rem;
                font-size: 8rem;
                color: @turquoiselight;
                

                }  
            }
            
               
        }
    }
}