
body{ 
    font-family: 'Exo 2', sans-serif;
    // background-color: @espresso;
    background: rgb(143,98,77);
    background: radial-gradient(circle, rgba(143,98,77,1) 39%, rgba(54,37,11,1) 100%);
    color: @sneaker;

    .introSection {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/banner.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        .flex(column, center, center);

        .introContainer {
            justify-content: center;
            .flex(column, center, center);
            text-align: center;
            color: @sneaker;
            margin: 4%;

            .mainTitle{
                font-size: 5rem;
                text-shadow: @brick 5px 5px;
                padding: 3%;
                margin: 2%;
            }//main title

            .circularImg {
                border-radius: 50%;
                height: 40vh;
                margin: 3%;
                border: 10px solid @turquoiselight;
            }

            p{
                font-size: 1.5rem;
                padding: 3%;
                margin: 4%;
            }
        }//introcontainer
        
    }//introsection
    .upperHalf{
        background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.541), rgba(70, 45, 24, 0.199)), url("/images/mpls.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .missionStmnt {
            display: flex;
            .flex(column, center, center);
            .paddingproject(3%, 1%, 3%, 3%);

            h2{
                // background: rgb(29,89,90);
                // background: radial-gradient(circle, rgba(29,89,90,1) 34%, rgba(18,48,58,1) 100%);
                width: 50%;
                border-radius: 30px;
                text-align: center;
                font-size: 4rem;
                padding: 2%;
                margin: 1%;
                color: @turquoiselight;
                font-weight: 1000;
                text-shadow: @turquoisedark 5px 5px;

                @media @tablet {
                    width: 90%;
                    margin:2%;
                }//mq
            }
            p {
                font-size: 1.5rem;
                line-height: 1.5;
                width: 60%;
                margin: 1%;
                background-color: #a3a24f79;
                padding: 3%;
                border-radius: 30px;
                text-align: center;
                text-shadow: @espresso 2px 2px 4px;
                box-shadow: 25px 25px 0 0 rgba(0, 0, 0, 0.466);

                @media @tablet {
                    width: 90%;
                    margin:2%;
                }//mq
                @media @phone {
                    width: 90%;
                    margin:2%;
                }//mq
            }
        }//missionstmnt
        .socialMedia{
            display: flex;
            flex-wrap: wrap;
            .flex(row, center, center);
            .paddingproject(3%, 5%, 3%, 3%);

            @media @tablet{
                flex-direction: column;
            }

            .smIcons{
                display: flex;
                .flex(row, center, center);
                // margin: 2%;
                

                .icon {
                    // margin: 5%;
                    padding: 5%;
                    text-shadow: @espresso 2px 2px 4px;

                    .fab, .fas{
                        display: flex;
                        .flex(row, center, center);
                        width: 8rem;
                        font-size: 8rem;
                        color: @turquoiselight;
                        

                     }  
                }//icon
                
            }//smicons
        }//socialmedia    
    }//upperhalf

    .projects{
        background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.068)), url("/images/sidewalk.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        .flex(column, center, center);

        #projectTitle{
            width: 50%;
            border-radius: 30px;
            text-align: center;
            font-size: 4rem;
            padding: 3%;
            color: @sneaker;
            text-shadow: @brick 5px 5px;
            font-weight: 1000;

            @media @tablet {
                width: 90%;
                margin: 3%;
            }//mq
        }//projecttitle

        .projectThumbnail{
            display: flex;
            .flex(row, space-around, center);
            flex-wrap: wrap;
            
            @media @phone {
                flex-direction: column;
            }//mq

            .previewContainer{
                display: flex;
                margin: 2%;
                flex-direction: row;
                width: 90%;
                flex-wrap: wrap;
                
                
                
            
                @media @tablet {
                    .flex(column, space-between, center)
                    
                }//mq


                .thumbnail{
                    border-radius: @borderRadius;
                    background-color: @turquoiselight;
                    box-shadow: 15px 15px 0 0 rgba(0,0,0,0.4);
                    margin: 3%;
                    width:44%;
                    @media @phone {
                        width:80%;
                    }

                    a {
                        display: block;
                    }
                    .projectImage{
                        border-top-left-radius: @borderRadius;
                        border-top-right-radius: @borderRadius;
                        height: 15em;
                        width: 100%;
                        object-fit: cover;
                    }
                    .projectName { 
                        font-size: 1.5rem;
                        line-height: 1.5em;
                        .paddingproject(3%, 0%, 3%, 3%);
                        font-weight: 900;
                        color: @sneaker;
                        text-shadow: @turquoisedark 1px 2px 6px;
                        text-align: center;
                    }
                    .projectBlurb {
                        padding: 3%;
                    
                        p, ul{
                        font-size: 1.2rem;
                        list-style: square;
                        list-style-position: inside;
                        .paddingproject(1%, 1%, 3%, 3%);
                        text-shadow: @turquoisedark 1px 2px 6px;
                        font-weight: bold;
                        }//p ul
                        
                    }//projectblurb
                    
                }//thumbnail
            }//previewcontainer       
        }//projectthumbnail  
    }//projects

    #footer{
        padding: 3% 0 3% 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/brick.jpg");
        background-size: cover;


        .contact{
            display: flex;
            .flex(column, center, center);

            .contactTitle{
                width: 50%;
                border-radius: 30px;
                text-align: center;
                font-size: 4rem;
                padding: 3%;
                color: @sneaker;
                text-shadow: @brick 5px 5px;
                font-weight: 1000;
                margin-bottom: 2%;

                @media @tablet {
                    width: 90%;
                    margin: 3%;
                }//mq

            }//contacttitle
            .contactContainer{
                background-color: #a3a24f79;
                width: 70%;
                padding: 4%;
                margin-bottom: 4%;
                border-radius: 30px;
                display: flex;
                .flex(row, center, flex-start);
                box-shadow: 25px 25px 0 0 rgba(0,0,0,0.4);

                @media @tablet{
                    .flex(column, center, center);
                }
                

               p {
                    font-size: 2rem;
                    width: 50%;
                    padding: 3%;
                    text-shadow: @brick 2px 2px;
                    line-height: 2;

                    @media @tablet{
                        width: 90%;
                        font-size: 1.2rem;
                    }//mq
                }//p
               

            }//contactcontainer

            .contactInfo{
                display: flex;
                .flex(column, flex-start, flex-start);
                margin-bottom: 2%;
                padding: 3%;
                width: 50%;

                @media @tablet{
                    width: 90%;
                    
                }
                @media @tablet{
                    width: 90%;
                    
                }
               

                li{
                    font-size: 1.5rem;
                    // font-family: 'Exo 2', sans-serif;
                    line-height: 2;
                    text-shadow: @brick 2px 2px;
                    @media @tablet{
                        overflow-wrap: break-word;
                        font-size: 1rem;
                    }
                    a{
                        text-decoration: none;
                        color: @sneaker;
                    }
                }  
            }
           
            
        }
    }
   
}