// @lightblue: #2274a5;
// @darktan: #816c61;
// @mediumtan: #e7dfc6;
// @lighttan: #e9f1f7;
// @darkgrey: #131b23;
// @accentred: #6D213C;


@brick: rgb(119, 31, 4);
@latte: #8F624D;
@sand: #a3a24f;
@moss: #555400;
@espresso: #36250B;
@turquoisedark: #1D595A;
@turquoiselight: #60BAC2;
@nimbus: #B0DCE0;
@spacecadetblue: #12303A;
@sneaker: #D5E3E6;

@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 850px)';
@borderRadius: ~'10px';